<html>
<head>
	<meta charset="UTF-8">
	<LINK rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body text="000033" bgcolor="EEEEEE">
	<table border="0" width="600" align="center" cellspacing="0">

		<tr>
			<td higth="3" colspan="4" bgcolor="999999">
			</td>
		</tr>
		<tr align="center">
			<td width=240>
				<small> ОАО "ЗМК", г.Харьков, пр.Ленина, 14 </small>
			</td>
			<td width=120>
				<small> тел.(057)7777777 </small>
			</td>
			<td width=120>
				<a class="email" href="mailto:nobody@here.com?subject=Че надо?"> <small> e-mail </small> </a>
			</td>
			<td width=120>
				<small> &copy Ostrenko V.A. </small>
			</td>
		</tr>
	</table>

</body>
</html>
