<html>
<head>
	<LINK rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="UTF-8">
</head>
<body text="000033" bgcolor="EEEEEE">
	<table border="0" width="600" align="center" cellspacing="2">
		<tr>
			<td height="100" colspan="5" align="center" background="../static/images/head.jpg">
			</td>
		</tr>
		<tr id="no_underline" align="center">
			<td width=20% bgcolor="CCCCCC">
				<a href="main.html" target="MainWindow"> <b> <font face="ARIAL"> ГЛАВНАЯ    <font> </b> </a>
			</td>
			<td width=20% bgcolor="CCCCCC">
				<a href="prod.html" target="MainWindow"> <b> <font face="ARIAL"> ПРОДУКЦИЯ   <font> </b> </a>
			</td>
			<td width=20% bgcolor="CCCCCC">
				<a href="cert.html" target="MainWindow"> <b> <font face="ARIAL"> СЕРТИФИКАТЫ <font> </b> </a>
			</td>
			<td width=20% bgcolor="CCCCCC">
				<a href="arti.html" target="MainWindow"> <b> <font face="ARIAL"> СТАТЬИ      <font> </b> </a>
			</td>
			<td width=20% bgcolor="CCCCCC">
				<a href="cont.html" target="MainWindow"> <b> <font face="ARIAL"> КОНТАКТЫ    <font> </b> </a>
			</td>
		</tr>
</table>
</body>
</html>
