<html>
<head>
	<LINK rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="UTF-8">

</head>
<body  class="back" text="000033" bgcolor="EEEEEE">
	<table border="0" width="600" align="center">
					<tr class="back">
						<td align="left">
							<center><h1>Завод металлических конструкций</h1>
							<h2>изготовление строительных конструкций<br>из черных и цветных металлов</h2></center>
							<p><b>ОАО "ЗМК"</b> - предприятие, предоставляющее полный комплекс услуг
								в отрасли строительства промышленных зданий и сооружений на территории
								Украины, Белорусси, Казахстана:</p>
								<img src="../static/images/pic1.jpg" width="180" height="200" align="right">
								<ul>
									<li>проектирование</li>
									<li>изготовление</li>
									<li>доставка</li>
									<li>монтаж</li>
								</ul>
							<p><b>Основная специализация предприятия</b> - торговые комплексы, логистические центры,
								сельскохозяйственные сооружения, производственные здания и сооружения, магазины, СТО.</p>
							<p><b>Проектирование</b> ведется с использованием современного программного обеспечения,
								позволяющего получить объемное изображение любой детали либо сооружения в целом.</p>
							<p>Металлоконструкции изготавливаются в соответствии с <b>ISO 9001:2009</b> на современном
								оборудовании квалифицированным персоналом. Сварные балки изготавливаются на линии
								автоматической сварки, обеспечивающей высокое качество сварного шва.</p>
						</td>
					</tr>
				</table>
</body>
</html>
