<html>
<head>
	<meta charset="UTF-8">
	<LINK rel="stylesheet" type="text/css" href="../static/css/style.css">
	<map name="uslugi">

		<area shape="rect"
		coords="0,0,300,240"
		href="stroim.html" target="_blank" alt="Строим">

		<area shape="rect"
		coords="0,240,300,480"
		href="kroem.html" target="_blank" alt="Кроем">

		<area shape="rect"
		coords="300,0,600,480"
		href="vsetakoe.html" target="_blank" alt="И все такое">
	</map>
</head>
<body text="000033" bgcolor="EEEEEE" align="center">
Пример маппинга
<center>
<img src="../static/images/mapping.jpg" border="0" usemap="#uslugi">
</center>
</body>
</html>
